<div class="jumbotron center">
  <h1>Platforme DYS </h1>
  <h2>Solution pour combattre la Dyslexie </h2>

     <% if user_signed_in? %>
          # do something
     <% else %>
       <p>
         <%= link_to "Connexion", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Inscription Gratuite", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>



  <div class="prez center">
            <object width="1000" height="1000">
        <param name="movie" value="https://www.youtube.com/v/N83TFsZhLfU?rel=0"></param>
        <param name="allowFullScreen" value="true"></param>
        <embed src="https://www.youtube.com/v/N83TFsZhLfU?rel=0&amp;controls=0&amp;showinfo=0" type="application/x-shockwave-flash" allowfullscreen="true" width="600" height="400"></embed>

</object>

              </div>

</div>
