<%= render 'pages/home' unless user_signed_in? %>


<div class="jumbotron">



<% b = {id: 1,
      question: "ça marche ?",
      reponse: "oui" }
 %>
  <!-- <h1> <%= b[:question] %> </h1>
</br>
<%= form_tag "reponse"  %>

<%= text_field_tag :rep ,  nil, :placeholder => 'reponse' %>
-->
    <% # If :rep = b[:reponse]
    #  z="ouiiiiiii"
    # else
    #  z="non!"
    # end
     %>
    <!-- <h1>  </h1> -->

<h1> Lire à haute voix </h1> </br>
<p> rang - rein - rien - rond - ronde - raie - rire </br>
   sien - chien - lien - loin - lin </br>
   main - moins -mieux -mien  </br>
   loin - lieu - lien - loig </br>
   fuir - nuire - suie - suite - suivre </br> </p>



<div>
