<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

<div class="jumbotron">
	<h1>Bienvenue sur la platforme DYS </h1>
	<div class="cd-pricing-container cd-full-width cd-secondary-theme">
			<ul class="cd-pricing-list">
				<li>
					<header class="cd-pricing-header">
						<h2>Basic</h2>

						<div class="cd-price">
							<span class="cd-currency">€</span>
							<span class="cd-value">0</span>
							<span class="cd-duration">mois</span>
						</div>
					</header> <!-- .cd-pricing-header -->

					<div class="cd-pricing-body">
						<ul class="cd-pricing-features">
							<li><em>Accès</em> illimité </li>
							<li><em>pas</em> de statistique </li>
							<li><em>pas</em> de suivie</li>
							<li><em>20 min</em> de Support</li>
						</ul>
					</div> <!-- .cd-pricing-body -->

					<footer class="cd-pricing-footer">
						<a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
					</footer> <!-- .cd-pricing-footer -->
				</li>
				<li class="cd-popular">
					<header class="cd-pricing-header">
						<h2>Courageux</h2>

						<div class="cd-price">
							<span class="cd-currency">€</span>
							<span class="cd-value">4.99</span>
							<span class="cd-duration">mois</span>
						</div>
					</header> <!-- .cd-pricing-header -->

					<div class="cd-pricing-body">
						<ul class="cd-pricing-features">
							<li><em>Accès</em> illimité </li>
							<li><em>statistique</em>  </li>
							<li><em>suivie</em> </li>
								<li><em>24h/7j</em> Support</li>
						</ul>
					</div> <!-- .cd-pricing-body -->

					<footer class="cd-pricing-footer">
						<a class="cd-select" href="http://codyhouse.co/?p=429">Select</a>
					</footer> <!-- .cd-pricing-footer -->
				</li>
				<li>
					<header class="cd-pricing-header">
						<h2>Déterminer</h2>

						<div class="cd-price">
							<span class="cd-currency">€</span>
							<span class="cd-value">20</span>
							<span class="cd-duration">mois</span>
						</div>
					</header> <!-- .cd-pricing-header -->

					<div class="cd-pricing-body">
						<ul class="cd-pricing-features">
							<li><em>Accès</em> illimité </li>
							<li><em>statistique</em> et prévition </li>
							<li><em>suivie</em> Quotidient </li>
								<li><em>24h/7j</em> Support</li>
									<li><em>Test</em> de performance  </li>
						</ul>
					</div> <!-- .cd-pricing-body -->

					<footer class="cd-pricing-footer">
					<form action="/charge" method="POST">
					  <script
					    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					    data-key="pk_live_TBwrLbZnO46ITjq92xxUXm07"
					    data-image="/img/documentation/checkout/marketplace.png"
					    data-name="cyril"
					    data-description="Compte Déterminer"
					    data-currency="eur"
					    data-amount="100"
					    data-locale="auto">
					  </script>
					</form>
						</BR>
	<h3>Si </BR> en 1ans il n'y a pas de progrès </BR> Remboursement </h3>
					</footer>  <!-- .cd-pricing-footer -->

				</li>
			</ul> <!-- .cd-pricing-list -->

		</div> <!-- .cd-pricing-container -->
		<script src="js/jquery-2.1.1.js"></script>
		<script src="js/main.js"></script> <!-- Resource jQuery -->
	<script type="text/javascript">
  Stripe.setPublishableKey('pk_live_TBwrLbZnO46ITjq92xxUXm07');
	</script> 

</div>
